git+ssh://git@github.com/sachinahj/ts_shared.git@master#egg=ts_config&subdirectory=ts_config
git+ssh://git@github.com/sachinahj/ts_shared.git@master#egg=ts_logger&subdirectory=ts_logger

warrant==0.6.1

